body {
    background: #19384A;
}

#blue-btn {
    background-color: #FFA5B4;
    border-color: #FFA5B4;
    margin-bottom: 2em;
    color: #19384A;
}

.input {
    background-color: #ffffff00;
    border: 1px solid white;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}